<div class="container">

    <h3 class="text-white">Books list</h3>
    <br>
    <button type="button" class="btn btn-primary" (click)="createBook()">Add new <i class="fas fa-plus"></i></button>
    <br>
    <br>
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">ID author</th>
                <th scope="col">ID genre</th>
                <th scope="col">ID Editorial</th>
                <th scope="col">ISBN</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of books">
                <th scope="row">{{book.name}}</th>
                <td>{{book.price}}</td>
                <td>{{book.id_author}}</td>
                <td>{{book.id_genre}}</td>
                <td>{{book.id_editorial}}</td>
                <td>{{book.isbn}}</td>
                <td>{{book.description}}</td>
                <td>
                    <button type="button" class="btn mr-2 mb-2 btn-primary" (click)="editBook(book.sk)" >Update <i class="fas fa-edit" title="Update"></i></button>
                    <button type="button" class="btn mr-2 mb-2 btn-danger" (click)="deleteBook(book.sk)">Delete <i class="fas fa-trash" title="Delete"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
      
</div>
