<div class="container">

    <h3 class="text-white">Orders list</h3>
    <br>
    <button type="button" class="btn btn-primary" (click)="createOrder()">Add new <i class="fas fa-plus"></i></button>
    <br>
    <br>
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">ID user</th>
                <th scope="col">ID book</th>
                <th scope="col">Delivery date</th>
                <th scope="col">Quantity</th>
                <th scope="col">Cost</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let o of orders">
                <td>{{o.id_user}}</td>
                <td>{{o.id_book}}</td>
                <td>{{o.delivery_date}}</td>
                <td>{{o.quantity_books}}</td>
                <td>{{o.cost}}</td>
                <td>
                    <button type="button" class="btn mr-2 mb-2 btn-primary" (click)="editOrder(o.sk)" >Update <i class="fas fa-edit" title="Update"></i></button>
                    <button type="button" class="btn mr-2 mb-2 btn-danger" (click)="deleteOrder(o.sk)">Delete <i class="fas fa-trash" title="Delete"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

