<div class="container">

    <h3 class="text-white">Genres list</h3>
    <br>
    <button type="button" class="btn btn-primary" (click)="createGenre()">Add new <i class="fas fa-plus"></i></button>
    <br>
    <br>
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Creation date</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let g of genres">
                <td>{{g.name}}</td>
                <td>{{g.createdAt}}</td>
                <td>
                    <button type="button" class="btn mr-2 mb-2 btn-primary" (click)="editGenre(g.sk)" >Update <i class="fas fa-edit" title="Update"></i></button>
                    <button type="button" class="btn mr-2 mb-2 btn-danger" (click)="deleteGenre(g.sk)">Delete <i class="fas fa-trash" title="Delete"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
      
</div>
